/* 공용 */
* {margin: 0;padding: 0;}
img {display: block;}
body {font-family: 'Noto Sans KR', sans-serif;}
li {list-style: none;}
a {text-decoration: none; color: black;}

.inner {
  width: 1280px;
  position: relative;
  margin: 0 auto;
}
body {
  
}


/********** HEADER **********/
header {
  /* position: fixed; */
}
header .container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: #fff;
}
header .container>.inner {
  height: 120px;
}
header .container>.inner h1 {
  position: absolute;
  top: 38px;
  left: 0;
}
header .container>.inner .gnb {
  position: absolute;
  right: 0;
  bottom: 15px;
}
header .container>.inner .gnb>ul {
  display: flex;
}
header .container>.inner .gnb>ul>li {
  margin-left: 40px;
}
header .container>.inner .gnb>ul>li>a {
  padding: 15px 0;
  font-weight: 500px;
  position: relative;
}
header .container>.inner .gnb>ul>li>a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  height: 3px;
  background: #e51937;
  transition: all .5s ;
}
header .container>.inner .gnb>ul>li:hover>a::after {
  width: 100%;
} 
header .container>.inner .gnb>ul>li:hover .sub01 {
  height: 427px;
}
header .container>.inner .gnb>ul>li:hover .sub02 {
  height: 265px;
}
header .container>.inner .gnb>ul>li:hover .sub03 {
  height: 105px;
}


header .container>.inner .gnb>ul>li:hover .gnb_ctr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
header .container>.inner .gnb_ctr {
  width: 100%;
  left: 0;
  background: #fff;
  position: fixed;
  top: 120px;
  z-index: 10;
}
header .container>.inner .gnb_ctr .gnb_sub {
  overflow: hidden;
  display: flex;
  transition: all 0.4s;
  height: 0;
}
header .container>.inner .gnb_ctr .gnb_sub .product {
  width: 160px;
  box-sizing: border-box;
}
header .container>.inner .gnb_ctr .gnb_sub h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-top: 40px;
}
header .container>.inner .gnb_ctr .gnb_sub .cate_list>li {
  margin-bottom: 15px;
}
header .container>.inner .gnb_ctr .gnb_sub .cate_list>li a {
  font-size: 14px;
  color: #666;
}
header .container>.inner .gnb_ctr .gnb_sub .cate_list>li a:hover {
  color: #e51937;
}



header .inner .lnb {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
}
header .inner .lnb ul {
  display: flex;
  margin-right: 20px;
}
header .inner .lnb ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 18px;
  background: #ddd;
  margin: auto 0 auto 20px;
}
header .inner .lnb ul li {
  margin-left: 15px;
  line-height: 40px;
}
header .inner .lnb ul li a {
  font-size: 14px;
}
header .inner .lnb ul li:first-child a {
  font-weight: 500;
}
header .inner .sc {
  height: 40px;
  text-align: center;
  border-radius: 10px;
}
header .inner .search {
  position: relative;
}
header .inner .search input {
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  box-sizing: border-box;
  padding: 4px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: width 0.7s;
}
header .inner .search input:focus {
  width: 200px;
}
header .inner .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7px;
  margin: auto;
  transition: all 0.5s;
}
header .inner .cart {
  background: #171717;
  margin-left: 10px;
}
header .inner .search.focused .material-icons {
  opacity: 0;
}



/********** VISUAL **********/
.visual {
  position: relative;
  width: 100%;
  /* width: 1920px; */
  margin: 120px auto 0 auto;
}
.visual .mySwiper .swiper-pagination {
  width: 700px;
  position: absolute;
  bottom: 150px;  
}
.visual .mySwiper .swiper-pagination-bullet-active {
  border: 2px solid #e51937;
  box-sizing: border-box;
  background: #c6c7c8;
}
.visual .swiper-button-prev, 
.visual .swiper-button-next {
  color: black; 
}
.visual .swiper-button-prev {
  position: absolute;
  left: 110px;
}
.visual .swiper-button-next {
  position: absolute;
  right: 100px;
}


/********** RECOMMEND **********/
.recommend {
  margin-top: 100px;
}
.recommend .inner .txt {
  display: flex;
  margin-bottom: 30px;
}
.recommend .inner .txt .title_txt {
  font-size: 32px;
  margin-right: 30px;
  font-weight: bold;
}
.recommend .inner .txt .sub_txt {
  font-size: 18px;
  padding-top: 20px;
  box-sizing: border-box;
}
.recommend .inner .rec_img_box {
  display: flex;
}
.recommend .inner .rec_img_box>div {
  margin-right: 31px;
  position: relative;
}
.recommend .inner .rec_img_box .rec03 {
  margin: 0;
}
.recommend .inner .rec_img_box .txt_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 326px;
  height: 117px;
  /* background: #e51937; */
}
.recommend .inner .rec_img_box .txt_box p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}
.recommend .inner .rec_img_box .txt_box p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}
.recommend .inner .rec_img_box .txt_box p:nth-child(3) {
  color: rgba(255,255,255,0.7)
}

/* gsap */
.recommend .inner .rec {
  opacity: 0;
  transition: all 1s;
}
.recommend .inner .rec.delay01 {transition-delay: 0.3s;}
.recommend .inner .rec.delay02 {transition-delay: 0.6s;}
.recommend .inner .rec.delay03 {transition-delay: 0.9s;}
.recommend .inner .rec.delay04 {transition-delay: 0.9s;}


/********** SK_PRODUCT **********/
#life,#water,#dish_washer,#induction {display: none;}
#life:checked ~ .sk_pro_box .label_box .life,
#water:checked ~ .sk_pro_box .label_box .water,
#dish_washer:checked ~ .sk_pro_box .label_box .dish_washer,
#induction:checked ~ .sk_pro_box .label_box .induction {
  color: #fff;
  background: #F47726;
}
#life:checked ~ .life_product {display: flex;} 
#water:checked ~.water_product {display: flex;}
#dish_washer:checked ~.dish_washer_product {display: flex;}
#induction:checked ~.induction_product {display: flex;}


.sk_product .inner .sk_magic_pro  {
  opacity: 1;
  transition: all 0.3s;
}


.sk_product {
  margin-top: 100px;
}
.sk_product .inner .title_txt {
  font-size: 32px;
  font-weight: bold;
}
.sk_product .inner .sk_pro_box {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.sk_product .inner .sk_pro_box .label_box {
  display: flex;
}
.sk_product .inner .sk_pro_box .label_box label {
  height: 46px;
  line-height: 46px;
  background: #f5f6f7;
  border-radius: 23px;
  display: block;
  text-align: center;
  margin-right: 10px;
}
.sk_product .inner .sk_pro_box .label_box .life {
  width: 96px;
}
.sk_product .inner .sk_pro_box .label_box .water{
  width: 81px;
}
.sk_product .inner .sk_pro_box .label_box .dish_washer {
  width: 104px;
}
.sk_product .inner .sk_pro_box .label_box .induction {
  width: 81px;
  transition: all 2s;
}
.sk_product .inner .sk_pro_box .more {
  padding-top: 22px;
  box-sizing: border-box;
}
.sk_product .inner .sk_pro_box .more a {
  color: #999;
}

.sk_product .inner .sk_magic_pro {
  /* display: flex; */
  display: none;
}
.sk_product .inner .sk_magic_pro .left {
  width: 520px;
  height: 520px;
  position: relative;
  background: #171717;
  margin-right: 20px;
}
.sk_product .inner .sk_magic_pro .left .pro01 {
  width: 520px;
  height: 520px;
  transition: all 1s;
}
.sk_product .inner .sk_magic_pro .left .pro01 img {
  width: 100%;
}
.sk_product .inner .sk_magic_pro .left .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.sk_product .inner .sk_magic_pro .left .txt .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.sk_product .inner .sk_magic_pro .left .txt .sub {

}

.sk_product .inner .sk_magic_pro .right {
  display: flex;
  flex-wrap: wrap;
}
.sk_product .inner .sk_magic_pro .right .life_pro {
  width: 360px;
  height: 250px;
  background: #ccc;
  position: relative;
}
.sk_product .inner .sk_magic_pro .right .pro_box01 {
  margin: 0 20px 20px 0;
}
.sk_product .inner .sk_magic_pro .right .pro_box02 {

}
.sk_product .inner .sk_magic_pro .right .pro_box03 {
  margin-right: 20px;
}

.sk_product .inner .sk_magic_pro .right .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.sk_product .inner .sk_magic_pro .right .txt .title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.sk_product .inner .sk_magic_pro .right .txt .sub {
  font-size: 13px;
  color: #111;
  font-weight: 300;
}



/********* STORY *********/
.story {
  width: 100%;
  height: 550px;
  background: #F8F9FA;
  margin-top: 100px;
}
.story .inner {
  
}
.story .inner .story_box {
  display: flex;
  justify-content: space-between;
}
.story .inner .story_box .left {
  width: 400px;
  height: 550px;
  padding: 50px 0;
  box-sizing: border-box;
  position: relative;
  /* margin-right: 100px; */
}
.story .inner .story_box .left p:nth-child(1),
.story .inner .story_box .left p:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
}
.story .inner .story_box .left p:nth-child(2) {
  margin-bottom: 20px;
}
.story .inner .story_box .left .fadeSwiper .swiper-slide {
  width: 400px;
  background-color: #F8F9FA;
}
.story .inner .story_box .left .fadeSwiper .swiper-slide .txt_box .sub01 {
  font-size: 24px;
  font-weight: 700;
}
.story .inner .story_box .left .fadeSwiper .swiper-slide .txt_box .sub02 {
  font-size: 15px;
  font-weight: 300;
  margin: 25px 0;
}
.story .inner .story_box .left .more a {
  color: #666;
}
.story .inner .story_box .left .swiper-button-prev {
  width: 60px;
  height: 60px;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  top: 461px;
  left: 0;
  background: url(../images/icon/main_our_prev.png);
}
.story .inner .story_box .left .swiper-button-next {
  width: 60px;
  height: 60px;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  top: 461px;
  left: 80px;
  background: url(../images/icon/main_our_next.png);
}
.story .inner .story_box .left .swiper-button-prev::after,
.story .inner .story_box .left .swiper-button-next::after {
  display: none;
}
.story .inner .story_box .right {
  width: 700px;
}
.story .inner .story_box .right .container {
  width: 100%;
  height: 550px;
  padding: 50px 0;
  box-sizing: border-box;
}
.story .inner .story_box .right .mySwiper {
  width: 100%;
  height: 450px;
}
.story .inner .story_box .right .swiper-wrapper {
  width: 920px;
  height: 450px;
}
.story .inner .story_box .right .swiper-slide {
  width: 450px;
  height: 450px;
}
.story .inner .story_box .right .swiper-slide img {
  width: 100%;
}



/********* REVIEW *********/
.review {
  margin-top: 100px;
  height: 1576px;
}
.review .inner {
  display: flex;
}
.review .inner .left {
  width: 640px;
}
.review .inner .right {
  width: 640px;
}
.review .inner .left p:nth-child(1),
.review .inner .left p:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
}
.review .inner .left .sub {
  font-size: 20px;
  margin: 20px 0;
}
.review .inner .left .more a {
  color: #666;
}

.review .inner .rev {
  margin: 40px 50px 0 50px;
}
.review .inner .rev01 .rev_img, 
.review .inner .rev02 .rev_img {
  width: 540px;
  height: 540px;
}
.review .inner .rev03 .rev_img {
  width: 540px;
  height: 380px;
} 
.review .inner .rev .rev_img img {
  width: 100%;
  height: 100%;
}
.review .inner .rev .txt .main_txt {
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}
.review .inner .rev .txt .sub_txt {
  color: #666666;
  font-size: 15px;
  margin: 30px 0;
  font-weight: 500;
}
.review .inner .rev .txt .user_id {
  color: #666;
  font-size: 15px;
  margin-bottom: 10px;
}
.review .inner .rev .txt .star {
  width: 104px;
  height: 19px;
}
.review .inner .rev .txt .star img {
  width: 100%;
}

/* REVEIW SCROLL MAGIC */
.review .inner .rev01 {
  position: absolute;
  top: 239px;
  left: 0;
  width: 540px;
}
.review .inner .rev02 {
  position: absolute;
  top: 30px;
  right: 0;
  width: 540px;
}
.review .inner .rev03 {
  position: absolute;
  top: 887px;
  right: 0;
  width: 540px;
}
.review .inner .origin {
  opacity: 0;
  transition: all 1s;
}
.review .inner.show .origin {opacity: 1;}
.review .inner.show .rev01 {top: 209px;}
.review .inner.show .rev02 {top: 0;}
.review .inner.show .rev03 { top: 857px;}
.review .inner .origin.delay01 {transition-delay: 0.3s;}
.review .inner .origin.delay02 {transition-delay: 0.6s;}
.review .inner .origin.delay03 {transition-delay: 1.0s;}




/********** CARD **********/
.card {
  width: 100%;
  height: 370px;
  background: #F8F9FA;
  margin-top: 100px;
}
.card .inner {
  padding: 50px 0;
  box-sizing: border-box;
}
.card .inner .txt {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.card .inner .txt .title_txt {
  font-size: 32px;
  margin-right: 30px;
  font-weight: bold;
}
.card .inner .txt .sub_txt {
  font-size: 18px;
  padding-top: 20px;
  box-sizing: border-box;
}
.card .inner .swiper-button-prev::after,
.card .inner .swiper-button-next::after {
  display: none;
}
.card .inner .swiper-button-prev,
.card .inner .swiper-button-next {
  width: 32px;
  height: 32px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  /* background: yellow; */
}
.card .inner .swiper-button-prev {
  position: absolute;
  top: 37px;
  left: 1217px;
}
.card .inner .swiper-button-next {
  position: absolute;
  top: 37px;
  right: 0;
}
.card .inner .swiper-button-prev i, 
.card .inner .swiper-button-next i {
  color: black;
} 


/********** HELP **********/
.help {
  margin-top: 100px;
}
.help .inner p {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.help .inner .help_box {
  display: flex;  
}
.help .inner .help_box .hel {
  margin-right: 20px;
  width: 165px;
  height: 165px;
  border-radius: 20px;
}
.help .inner .help_box .hel:last-child {
  margin: 0;
}
.help .inner .hel {
  transition: all 0.4s;
}
.help .inner .hel:hover {
  box-shadow: 10px 10px 10px 0 rgb(0 0 0 /20%);
}

/********** NOTICE **********/  
.notice {
  margin-top: 50px;
}
.notice .inner {
  display: flex; 
  justify-content: space-between;
}
.notice .inner .left {
  width: 640px;
}
.notice .inner .left .txt {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #707070;
}
.notice .inner .left .txt p:first-child {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.notice .inner .left .txt .more {
  padding-top: 34px;
  box-sizing: border-box;
}
.notice .inner .left .txt .more a {
  color: #666;
}
.notice .inner .left .not {
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #E8E8E8;
}
.notice .inner .left .not .not_txt {
  font-size: 18px;
}
.notice .inner .left .not .day {
  color: #999;
}

.notice .inner .right {
  width: 500px;
}
.notice .inner .right .txt {
  border-bottom: 2px solid #707070;
}
.notice .inner .right .txt p {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.notice .inner .right .call_box {
  display: flex;
  flex-wrap: wrap;
}
.notice .inner .right .call {
  width: 250px;
}
.notice .inner .right .call p:first-child {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.notice .inner .right .call p:last-child {
  font-size: 28px;
  font-weight: 600;
}
.notice .inner .right .call01,
.notice .inner .right .call02 {
  margin: 20px 0 40px 0;
}
.notice .inner .right .call03,
.notice .inner .right .call04 {
  margin-bottom: 40px;
} 
.notice .inner .right .tell_box {
  width: 100%;
  height: 218px;
  background: #E8EDF0;
  border-radius: 10px;
  padding: 51px 40px;
  box-sizing: border-box;
}
.notice .inner .right .tell_box .mall_icon {
  margin-bottom: 20px;
}





/********** FOOTER **********/
.footer {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: #222222;
  margin-top: 100px;
}
.footer .inner {
}
.footer .inner .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #777;
}
.footer .inner .left {
  position: relative;
  width: 583px;
}
.footer .inner .left .footer_logo {
  margin-bottom: 40px;
}
.footer .inner .left p {
  font-size: 14px;
  color: #777;
}
.footer .inner .left p:nth-child(5) {
  margin-bottom: 25px;
}
.footer .inner .left .footer_img {
  width: 211px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .inner .left .footer_img img {
  width: 100%;
  height: 100%;
}
.footer .inner .left p:nth-child(7),
.footer .inner .left p:nth-child(8) {
  margin-left: 221px;
}
.footer .inner .right {
  width: 280px;
}
.footer .inner .right select {
  width: 100%;
  height: 50px;
  color: #fff;
  background: #444;
  padding: 0 40px;
  box-sizing: border-box;
  border-radius: 25px;
  appearance: none; 
  outline: none;
  border: none;
}
.footer .inner .right select option {
  width: 100%;
  background: #444;
}
.footer .inner .right p:nth-child(2) {
  color: #fff;
  margin: 20px 0;
}
.footer .inner .right p:nth-child(2) span:first-child {
  font-size: 14px;
}
.footer .inner .right p:nth-child(2) span:last-child {
  font-size: 20px;
  float: right;
}
.footer .inner .right p:nth-child(3),
.footer .inner .right p:nth-child(4) {
  color: #777;
}
.footer .inner .right p:nth-child(4) {
  margin-top: 20px;
}
.footer .inner .right p:nth-child(3) span:first-child, 
.footer .inner .right p:nth-child(4) span:first-child {
  font-size: 14px;
}

.footer .inner .right p:nth-child(3) span:last-child, 
.footer .inner .right p:nth-child(4) span:last-child {
  font-size: 20px;
  float: right;
}

.footer .inner .footer_bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  box-sizing: border-box;
}
.footer .inner .footer_bottom ul {
  display: flex;
}
.footer .inner .footer_bottom ul li {
  margin-right: 25px;
  line-height: 40px;
}
.footer .inner .footer_bottom ul li a {
  color: #777;
  font-size: 14px;
}
.footer .inner .footer_bottom ul li:nth-child(4) a {
  color: #DE4F41;
}
.footer .inner .footer_bottom .sns {
  display: flex;
}
.footer .inner .footer_bottom .sns p {
  margin-right: 20px;
  line-height: 40px;
  color: #777;
}
.footer .inner .footer_bottom .sns div {
  margin-right: 10px;
}
.footer .inner .footer_bottom .sns div:last-child {
  margin: 0;
}


/*********** quick_menu ***********/
.quick_menu {
  position: fixed;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  /* width: 100%; */
  height: 240px;
}
.quick_menu .quick {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: yellow;
}
.quick_menu .quick p {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: #444;
  font-weight: 300;
}
.quick_menu .container {
  position: relative;
  height: 240px;
  width: 50px;
}
.quick_menu .container .top {
  position: absolute;
  top: 0;
}
.quick_menu .container .chat {
  position: absolute;
  top: 85px;
  left: 0;
}
.quick_menu .container .tel {
  position: absolute;
  top: 170px
}
.quick_menu .top {
  background: #000;
}
.quick_menu .chat,
.quick_menu .tel {
  background: #444;
}